@using System.Xml.Linq
@model XElement

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        <tr>
            <th>
                Plats
            </th>
            <th>
                Datum
            </th>
            <th>
                Tid
            </th>
            <th>
                FordonEPC
            </th>
            <th>
                EVN
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Descendants("FordonsPassager"))
        {
            <tr>
                <td>
                    @((string)item.Element("Plats"))
                </td>
                <td>
                    @((string)item.Element("Datum"))
                </td>
                <td>
                    @((string)item.Element("Tid"))
                </td>
                <td>
                    @((string)item.Element("FordonEpc"))
                </td>
                <td>
                    @((string)item.Element("FordonsData").Element("EVN"))
                </td>
            </tr>
        }
    </tbody>
</table>


