@using System.Xml.Linq
@model XElement

@{
    ViewBag.Title = "Index";
    ViewBag.Nextlink = "http://localhost:49949/" + (ViewBag.page +1);
}

<h2>Index</h2>

@if(ViewBag.page != 1) { @Html.ActionLink("Föregående sida", "Index", new { page = (ViewBag.page - 1) }, null); }
        Du är på sida @ViewBag.page
@Html.ActionLink("Nästa sida", "Index", new { page = (ViewBag.page + 1) }, null)


<table>
    <thead>
        <tr>
            <th>
                Plats
            </th>
            <th>
                Datum
            </th>
            <th>
                Tid
            </th>
            <th>
                FordonEPC
            </th>
            <th>
                EVN
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Descendants("FordonsPassager"))
        {
            <tr>
                <td>
                    @((string)item.Element("Plats"))
                </td>
                <td>
                    @((string)item.Element("Datum"))
                </td>
                <td>
                    @((string)item.Element("Tid"))
                </td>
                <td>
                    @((string)item.Element("FordonEpc"))
                </td>
                <td>
                    @((string)item.Element("FordonsData").Element("EVN"))
                </td>
            </tr>
        }


    </tbody>
</table>


