@model IIProjectClient.Models.Sokning

@{
    ViewBag.Title = "Sokning";
}

<h2>Sokning</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sokning</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.start, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.start, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.start, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.slut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.slut, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.slut, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.plats, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.plats, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.plats, "", new { @class = "text-danger" })
            </div>
        </div>

        Lista på de städer som finns:
        @Html.DropDownList("cities", new SelectList(IIProjectClient.Models.Sokning.platser))

        <div class="form-group">
            @Html.LabelFor(model => model.anropsansvarig, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.anropsansvarig, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.anropsansvarig, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.antal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.antal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.antal, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@if (Model.resultat != null)
{
 @Html.Partial("SokResultat", Model.resultat);
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
